In [2]:
import pandas as pd
import requests

In [3]:
endpoint = 'https://data.cdc.gov/resource/x9gk-5huc.json'

In [4]:
response=requests.get(endpoint)

In [5]:
data=response.text

In [6]:
df= pd.read_json(data)

In [8]:
camp_df=df.loc[df['label']=='Campylobacteriosis']

In [12]:
df.label.unique()

array(['Anthrax', 'Arboviral diseases, Chikungunya virus disease',
       'Arboviral diseases, Eastern equine encephalitis virus disease',
       'Arboviral diseases, Jamestown Canyon  virus disease',
       'Arboviral diseases, La Crosse  virus disease',
       'Arboviral diseases, Powassan virus disease',
       'Arboviral diseases, St. Louis encephalitis virus disease',
       'Arboviral diseases, West Nile virus disease',
       'Arboviral diseases, Western equine encephalitis virus disease',
       'Babesiosis', 'Botulism, Foodborne', 'Botulism, Infant',
       'Botulism, Other (wound & unspecified)', 'Brucellosis',
       'Campylobacteriosis'], dtype=object)

In [13]:
endpoint2 = 'https://data.cdc.gov/resource/kxvg-q6s7.json'

In [14]:
response1= requests.get(endpoint2)

In [15]:
data2=response1.text

In [16]:
df2=pd.read_json(data2)

In [29]:
df2.loc[df2['mumps_current_week_flag'].isna()==False]

,reporting_area,mmwr_year,mmwr_week,mumps_current_week_flag,mumps_previous_52_weeks_max,mumps_cum_2022_flag,mumps_cum_2021,novel_influenza_a_virus_1,novel_influenza_a_virus_2,novel_influenza_a_virus_5,novel_influenza_a_virus_7,location_2,reporting_area_sort,mumps_cum_2021_flag,location_1,tableoney,:@computed_region_skr5_azej,:@computed_region_hjsp_umg2,mumps_current_week,mumps_cum_2022
0,US RESIDENTS,2022,1,-,8,-,1.0,-,0,-,-,US RESIDENTS,202200101,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NEW ENGLAND,2022,1,-,1,-,NaN,-,0,-,-,NEW ENGLAND,202200102,-,NaN,NaN,NaN,NaN,NaN,NaN
2,CONNECTICUT,2022,1,-,1,-,NaN,-,0,-,-,NaN,202200103,-,CONNECTICUT,"{'type': 'Point', 'coordinates': [-72.738288, ...",1043.0,24.0,NaN,NaN
3,MAINE,2022,1,-,1,-,NaN,-,0,-,-,NaN,202200104,-,MAINE,"{'type': 'Point', 'coordinates': [-69.06137, 4...",1725.0,49.0,NaN,NaN
4,MASSACHUSETTS,2022,1,-,1,-,NaN,-,0,-,-,NaN,202200105,-,MASSACHUSETTS,"{'type': 'Point', 'coordinates': [-71.481104, ...",1916.0,25.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
414,NORTHERN MARIANA ISLANDS,2022,5,-,0,-,NaN,-,0,-,-,NaN,202200565,-,NORTHERN MARIANA ISLANDS,"{'type': 'Point', 'coordinates': [145.725693, ...",NaN,NaN,NaN,NaN
415,GUAM,2022,5,-,0,-,NaN,-,0,-,-,NaN,202200566,-,GUAM,"{'type': 'Point', 'coordinates': [144.653198, ...",NaN,NaN,NaN,NaN
416,PUERTO RICO,2022,5,-,0,-,NaN,-,0,-,-,NaN,202200567,-,PUERTO RICO,"{'type': 'Point', 'coordinates': [-66.414655, ...",3087.0,NaN,NaN,NaN
417,U.S. VIRGIN ISLANDS,2022,5,-,0,-,NaN,-,0,-,-,NaN,202200568,-,U.S. VIRGIN ISLANDS,NaN,NaN,NaN,NaN,NaN
418,NON-US RESIDENTS,2022,5,-,0,-,NaN,-,0,-,-,NON-US RESIDENTS,202200569,-,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
endpoint3='https://data.cdc.gov/resource/fj6i-3v3k.json?$query=SELECT%20reporting_area%2C%20mmwr_year%2C%20mmwr_week%2C%20hepatitis_b_perinatal%2C%20hepatitis_b_perinatal_1%2C%20hepatitis_b_perinatal_2%2C%20hepatitis_b_perinatal_3%2C%20hepatitis_b_perinatal_4%2C%20hepatitis_b_perinatal_5%2C%20hepatitis_b_perinatal_6%2C%20hepatitis_b_perinatal_7%2C%20hepatitis_c_acute_confirmed%2C%20hepatitis_c_acute_confirmed_1%2C%20hepatitis_c_acute_confirmed_2%2C%20hepatitis_c_acute_previous%2C%20hepatitis_c_acute_confirmed_3%2C%20hepatitis_c_acute_confirmed_4%2C%20hepatitis_c_acute_confirmed_5%2C%20hepatitis_c_acute_confirmed_6%2C%20hepatitis_c_acute_probable%2C%20hepatitis_c_acute_probable_1%2C%20hepatitis_c_acute_probable_2%2C%20hepatitis_c_acute_probable_3%2C%20hepatitis_c_acute_probable_4%2C%20hepatitis_c_acute_probable_5%2C%20hepatitis_c_acute_probable_6%2C%20hepatitis_c_acute_probable_7%2C%20location_1%2C%20location_2%2C%20reporting_area_sort%2C%20tableoneq%20ORDER%20BY%20reporting_area_sort%20ASC'

In [28]:
response2=requests.get(endpoint3)

In [31]:
data3=response2.text

In [34]:
hep_df3=pd.read_json(data3)

In [35]:
hep_df3

,reporting_area,mmwr_year,mmwr_week,hepatitis_b_perinatal_1,hepatitis_b_perinatal_2,hepatitis_b_perinatal_5,hepatitis_b_perinatal_7,hepatitis_c_acute_confirmed,hepatitis_c_acute_confirmed_2,hepatitis_c_acute_confirmed_3,...,hepatitis_c_acute_probable_1,hepatitis_c_acute_probable_5,hepatitis_c_acute_confirmed_6,hepatitis_c_acute_probable_7,location_1,tableoneq,hepatitis_b_perinatal_3,hepatitis_c_acute_previous,hepatitis_c_acute_probable_3,hepatitis_b_perinatal_6
0,US RESIDENTS,2022,1,-,4.0,-,-,5.0,274.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NEW ENGLAND,2022,1,-,1.0,-,-,NaN,10.0,NaN,...,-,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CONNECTICUT,2022,1,-,0.0,-,-,NaN,2.0,NaN,...,-,-,-,-,CONNECTICUT,"{'type': 'Point', 'coordinates': [-72.738288, ...",NaN,NaN,NaN,NaN
3,MAINE,2022,1,-,1.0,-,-,NaN,6.0,NaN,...,-,-,NaN,-,MAINE,"{'type': 'Point', 'coordinates': [-69.06137, 4...",NaN,NaN,NaN,NaN
4,MASSACHUSETTS,2022,1,-,1.0,-,-,NaN,6.0,NaN,...,-,-,NaN,NaN,MASSACHUSETTS,"{'type': 'Point', 'coordinates': [-71.481104, ...",NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415,GUAM,2022,5,-,0.0,-,-,NaN,0.0,NaN,...,-,-,-,-,GUAM,"{'type': 'Point', 'coordinates': [144.653198, ...",NaN,NaN,NaN,NaN
416,PUERTO RICO,2022,5,-,0.0,-,-,NaN,NaN,NaN,...,N,N,N,N,PUERTO RICO,"{'type': 'Point', 'coordinates': [-66.414655, ...",NaN,NC,NC,NaN
417,U.S. VIRGIN ISLANDS,2022,5,-,0.0,-,-,NaN,0.0,NaN,...,-,-,-,-,U.S. VIRGIN ISLANDS,NaN,NaN,NaN,NaN,NaN
418,NON-US RESIDENTS,2022,5,-,0.0,-,-,NaN,0.0,NaN,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
419,TOTAL,2022,5,-,4.0,-,NaN,5.0,274.0,123.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [36]:
endpoint4='https://data.cdc.gov/resource/vq7a-fvin.json?$query=SELECT%20reporting_area%2C%20mmwr_year%2C%20mmwr_week%2C%20vibriosis_any_species_of%2C%20vibriosis_any_species_of_1%2C%20vibriosis_any_species_of_2%2C%20vibriosis_any_species_of_3%2C%20vibriosis_any_species_of_4%2C%20vibriosis_any_species_of_5%2C%20vibriosis_any_species_of_6%2C%20vibriosis_any_species_of_7%2C%20vibriosis_any_species_of_8%2C%20vibriosis_any_species_of_9%2C%20vibriosis_any_species_of_10%2C%20vibriosis_any_species_of_11%2C%20vibriosis_any_species_of_12%2C%20vibriosis_any_species_of_13%2C%20vibriosis_any_species_of_14%2C%20vibriosis_any_species_of_15%2C%20location_1%2C%20location_2%2C%20reporting_area_sort%2C%20tableonell%20ORDER%20BY%20reporting_area_sort%20ASC'

In [37]:
response4=requests.get(endpoint4)

In [38]:
data_vib=response4.text

In [39]:
df_vib=pd.read_json(data_vib)

In [40]:
df_vib

,reporting_area,mmwr_year,mmwr_week,vibriosis_any_species_of_1,vibriosis_any_species_of_2,vibriosis_any_species_of_5,vibriosis_any_species_of_6,vibriosis_any_species_of_8,vibriosis_any_species_of_10,vibriosis_any_species_of_12,...,vibriosis_any_species_of_9,vibriosis_any_species_of_13,vibriosis_any_species_of_15,location_1,tableonell,vibriosis_any_species_of_7,vibriosis_any_species_of_3,vibriosis_any_species_of_11,vibriosis_any_species_of,vibriosis_any_species_of_4
0,US RESIDENTS,2021,1,-,53.0,-,8.0,2.0,20.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NEW ENGLAND,2021,1,-,10.0,-,1.0,NaN,5.0,NaN,...,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CONNECTICUT,2021,1,-,6.0,-,1.0,NaN,2.0,NaN,...,-,-,-,CONNECTICUT,"{'type': 'Point', 'coordinates': [-72.738288, ...",NaN,NaN,NaN,NaN,NaN
3,MAINE,2021,1,-,2.0,-,NaN,NaN,2.0,NaN,...,-,-,-,MAINE,"{'type': 'Point', 'coordinates': [-69.06137, 4...",-,NaN,NaN,NaN,NaN
4,MASSACHUSETTS,2021,1,-,6.0,-,NaN,NaN,2.0,NaN,...,-,-,-,MASSACHUSETTS,"{'type': 'Point', 'coordinates': [-71.481104, ...",-,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,INDIANA,2021,15,-,1.0,-,1.0,NaN,1.0,NaN,...,-,-,NaN,INDIANA,"{'type': 'Point', 'coordinates': [-86.2818, 39...",NaN,NaN,NaN,NaN,NaN
996,MICHIGAN,2021,15,-,2.0,-,3.0,NaN,1.0,NaN,...,-,-,NaN,MICHIGAN,"{'type': 'Point', 'coordinates': [-85.730977, ...",NaN,NaN,NaN,NaN,NaN
997,OHIO,2021,15,-,2.0,NaN,4.0,NaN,5.0,10.0,...,-,NaN,NaN,OHIO,"{'type': 'Point', 'coordinates': [-82.70936, 4...",NaN,NaN,NaN,NaN,5.0
998,WISCONSIN,2021,15,-,1.0,-,1.0,NaN,1.0,NaN,...,-,-,NaN,WISCONSIN,"{'type': 'Point', 'coordinates': [-89.732969, ...",NaN,NaN,NaN,NaN,NaN
999,WEST NORTH CENTRAL,2021,15,-,2.0,-,4.0,NaN,2.0,4.0,...,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
vax_endpoint='https://data.cdc.gov/resource/ee48-w5t6.json'

In [31]:
response_vax=requests.get(vax_endpoint)

In [32]:
data_vax=response_vax.text

In [33]:
df_vax=pd.read_json(data_vax)

In [34]:
df_vax

,vaccine,dose,geography_type,geography,year_season,dimension_type,dimension,coverage_estimate,_95_ci,population_sample_size
0,HPV,">=1 Dose, Females",HHS Regions/National,United States,2006,Age,13-17 Years,1.0,0.6 to 1.8,1335.0
1,HPV,">=1 Dose, Females",HHS Regions/National,United States,2007,Age,13-17 Years,25.1,22.3 to 28.1,1441.0
2,HPV,">=1 Dose, Females",HHS Regions/National,Region 1,2007,Age,13-17 Years,37.6,25.7 to 51.2,90.0
3,HPV,">=1 Dose, Females",HHS Regions/National,Region 2,2007,Age,13-17 Years,38.2,28.1 to 49.5,105.0
4,HPV,">=1 Dose, Females",HHS Regions/National,Region 3,2007,Age,13-17 Years,27.1,19.5 to 36.3,183.0
...,...,...,...,...,...,...,...,...,...,...
995,HPV,">=1 Dose, Females",States/Local Areas,Idaho,2021,Age,13-17 Years,81.8,73.0 to 88.2,153.0
996,HPV,">=1 Dose, Females",States/Local Areas,Illinois,2021,Age,13-17 Years,76.5,69.4 to 82.4,282.0
997,HPV,">=1 Dose, Females",States/Local Areas,IL-City of Chicago,2021,Age,13-17 Years,86.8,70.0 to 94.9,72.0
998,HPV,">=1 Dose, Females",States/Local Areas,IL-Rest of state,2021,Age,13-17 Years,74.2,66.0 to 81.0,210.0
999,HPV,">=1 Dose, Females",States/Local Areas,Indiana,2021,Age,13-17 Years,75.3,64.9 to 83.4,122.0

array(['HPV'], dtype=object)